

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#firstCol{
    width:20%;
}

#secondCol{
    width:20%;
}

#thirdCol{
    width:20%;
}













