

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 30px;
    padding-bottom: 20px;
}
.sp-elite {font-family:"Special Elite",monospace;}
.poiret-one {font-family:"Poiret One",cursive;}
.source-code {font-family:"Source Code Pro",monospace;}
.open-sans-c {font-family:"Open Sans Condensed",sans-serif;}
.arvo {font-family:"Arvo",sans-serif;}
.footer-grey {
    color:#20262c;
}
.blue {
    color:#0f86ce;
}
.white {
    color:#fff;
}
.android-green {
    color:#A4C739;
}
.orange {
    color:#F26B47;
}
.play {
    display:none;
}
.pause {
    display:none;
}

.tab-pane {height:250px;overflow: hidden;}
#tab1 {background:url('../img/blueprints.png') no-repeat bottom left;}
textarea.expanding {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin:0 auto;    
}
.popover {margin-bottom:70px !important;}

.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }



.roundabout-holder{padding:0;margin:0 auto;height:100px;width:300px;}
.roundabout-moveable-item{height:100px;width:100px;cursor:pointer;border:1px solid black;display:block;}
.roundabout-moveable-item img{height:100%;width:100%;}
.roundabout-in-focus{cursor:auto;}
#ticker {margin-top:10px;}
#ticker li{
    float:right;
	font-size: 18px;
    padding:1px;
	color: #fff;
	white-space: nowrap;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blue2{
color:#0097ef;
}
.bbb {
    border-bottom:10px solid #0097ef;
}
.genericon {
    margin-right:5px;
    font-size:32px;
}

